*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

#main{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: black;
    width: 100%;
    height: 100%;
    font-family: montserrat;
}
html, body{
    height: 100%;
    width: 100%;
}

#cursor {
    position: absolute;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: green;
}

#main h1{
    font-size: 100px;
    color: white;
}